@import '../../style/_variables'
    
.start
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    height: 100%
    &__descr
        &:first-of-type
            margin-top: 50px
        &:not(:first-of-type)
            margin-top: 20px
    &__link
        &-wrapper
            display: flex
            justify-content: center
            margin-top: 50px
    &__select
        margin-left: 15px
        padding: 5px 15px
        color: $sandyBeach
        background-color: $brownRust
        border: 2px solid $brownRust
        border-radius: 5px
    &__option
        color: $sandyBeach
        background-color: $brownRust
        &:disabled
            color: $whiskey